.profileUser {
  width: 100vw;
  height: 100ch;
}

.profileRightTop {
  margin: auto;
  width: 60%;
  margin-top: 4%;
  animation: profileUser 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  padding: 2%;
}
@keyframes profileUser {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
  }
}
.profileRight {
  display: block;
}
.toFlex {
  display: flex;
  justify-content: start;
  align-items: center;
}
.profileCover {
  width: 2%;
  flex-grow: 5;
}
.profileInfo {
  flex-grow: 1;
}
.profileCoverImg {
  border-radius: 50%;
  padding: 2%;
  padding: 2%;
  width: 34%;
}
.profileInfo h1 {
  text-align: left;
  padding: 4%;
}
